:root {
  --primary: #32343e;
  --secondary: #1b1e28;
  --white: #fcfcfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-left: 70px;
  background-color: var(--primary);
  color: var(--white);
  font-family: var(--font-geist-sans);
}

