.navbar {
  background-color: var(--secondary);
  font-family: var(--font-geist-mono);
  width: 70px;
  position: fixed;
  top: 0;
  left: 0;
}

.navbarOpen {
  height: 100vh;
  border-right: 1px solid white;
}

.navbarClosed {
  border-radius: 0 0 10px 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linksContainer {
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.linkContainer {
  margin-top: 5px;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkContainer:hover {
  background-color: var(--primary);
  cursor: pointer;
  transition: 0.2s;
}
